.list-sec {
  margin: 4rem 0;
}
.list-title {
  text-align: center;
}
.list-title img {
  width: 5%;
}
.list-title h3 {
  margin: 1rem;
  font-weight: 400;
  font-size: 1.1rem;
}
.list-title h1 {
  font-size: 3rem;
}
.list-items {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.list-items-left {
    width: 50%;
  }
.list-items-right {
  width: 50%;
}
.list-items-right img {
  width: 100%;
}
ul{
    list-style-type: none;
}
.list-items-left {
    padding-left: 50px;
    width: 50%;
}
ul.list-items-list li {
    margin: 12px 0;
}
ul.list-items-list li a {
    margin-left: 11px ;
}
ul.list-items-list li i {
    padding: 5px;
    font-size: 14px;
}


/* media qureies */
@media (min-width:320px) and (max-width:768px) { 
    .list-items-left{
        width: 100%;
    }
    .list-items-right{
        width: 100%;
    }
    .list-title h1 {
        font-size: 1.3rem;
      }
}